---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?q=blue
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.097 TT 0 0.148"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 68013,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL77775W",
                    "type": "work",
                    "seed": [
                        "/books/OL25648985M",
                        "/books/OL15388701M",
                        "/books/OL18119812M",
                        "/books/OL23750345M",
                        "/books/OL22098412M",
                        "/books/OL14584199M",
                        "/books/OL19889860M",
                        "/books/OL19746209M",
                        "/books/OL16236596M",
                        "/books/OL17421552M",
                        "/books/OL221[...]
