---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?q=lizard
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.335 TT 0 0.356"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 3254,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL8939194W",
                    "type": "work",
                    "seed": [
                        "/books/OL12293389M",
                        "/works/OL8939194W",
                        "/authors/OL3092109A"
                    ],
                    "title": "Star Trek Sourcebook",
                    "title_suggest": "Star Trek Sourcebook",
                    "edition_count": 1,
                    "edition_key": [
                        "OL12293389M"
                    ],
                    "publish_date": [
                        "July 25, 2004"
                    ],
                    "publish_year": [
                        2004
                    ],
                    "first_publish_year": 2004,
                    "number_of_pages_median": 200,
                    "isbn": [
                        "9781905176212",
                        "190517621X"
                    ],
                    "last_modified_i": 1260840063,
                    "ebook_count_i": 0,
                    "ebook_access": "no_ebook",
                    "has_fulltext": false,
                    "public_scan_b": false,
                    "publisher": [
                        "Mongoose Publishing"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL3092109A"
                    ],
                    "author_name": [
                        "Lizard"
                    ],
                    "publisher_facet": [
                        "Mongoose Publishing"
                    ],
                    "_version_": 1735677682444664835,
                    "author_facet": [
                        "OL3092109A Lizard"
                    ]
                },
                {
                    "key": "/works/OL8939192W",
                    "type": "work",
                    "seed": [
                        "/books/OL12293390M",
                        "/works/OL8939192W",
                        "/authors/OL3092109A"
                    ],
                    "title": "Sea Of Worlds",
                    "title_suggest": "Sea Of Worlds",
                    [...]
